 <!-- Resume Section -->
 <section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Resume</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Sumary</h3>

          <div class="resume-item pb-0">
            <h4>COPECO</h4>
            <p><em>Computer technician, with 13 years experience in development, infrastructure and networks</em></p>
            <ul>
              <li>Tegucigalpa, Honduras</li>
              <li>(504) 89687237</li>
              <li>alex8a1991@gmail.com</li>
            </ul>
          </div><!-- Edn Resume Item -->

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Ingeneer in Sistems </h4>
            <h5>2011 - Present</h5>
            <p><em>Autonomus University Of Honduras </em></p>
            <p>Intern of the Systems Engineering Degree</p>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>Technical Bachelor's Degree in Computing Honduras</h4>
            <h5>2008 - 2011</h5>
            <p><em>Technical Bachelor's Degree in Computing Honduras</em></p>
            <p>skills to provide technical support and repair of computer systems</p>
          </div><!-- Edn Resume Item -->

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Head of Information Technology Department</h4>
            <h5>2014 - Present</h5>
            <p><em>COPECO, Tegucigalpa, Honduras </em></p>
            <ul>
              <li>Lead in the design, development, and implementation of the Information Technology, like landing pages, email systems, dns servers, numerical weather  and seismics systems 
              , and Administrative systems</li>
              <li>Delegate tasks to the 6 members of the Support team and provide counsel on all aspects of the project. </li>
              <li>Oversee the installation and deployment of all servers in the data center to ensure the quality and accuracy of the installation.</li>
              
            </ul>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>Systems Assistant</h4>
            <h5>2012 - 2014</h5>
            <p><em>COPECO, Tegucigalpa, Honduras</em></p>
            <ul>
              <li>Provide technical support to the  computers of the different institutional departments, instalations softwares</li>
              <li>Provide technical support to the  printers of the different institutional departments</li>
              <li>DProvide technical support to the  network of the different institutional nodes</li>
            </ul>
          </div><!-- Edn Resume Item -->

        </div>

      </div>

    </div>

  </section><!-- /Resume Section -->